.smallImages {
	display: flex;
	justify-content: space-evenly;
}

.smallImages span {
	padding: .25%;
}

.imgBar{
	max-width: 100% !important;
}

.bigDiv {
	height: 55vh;
	padding: 10px;
	text-align: center;

}

.bigImage {
	max-height: 100%;
}

.info { 
	position: relative;
	text-align: center;
	top: 50%;
 }

.title {
	padding-top: 12.5%;
	color: #FF351F;
	font-family: Fascinate Inline;
	font-size: 300%;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(151, 219, 229, 0.7);
  z-index: 2;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  text-align: center;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}