html {

    background-image: url(https://images-na.ssl-images-amazon.com/images/I/51y6dy0T8sL._SX466_.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: #0D00A6;
    font-family: 'Lobster';
    letter-spacing: 5px;
    text-align: center;

}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid;
  border-color:  #819EFF;
}

#first {
    width: 80%;
    background-color: rgb(13, 0, 166, 0.7);
    text-align: left;
    color: #ffff;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    font-size: 13px;
}

#tableDiv {
    width: 80%;
    background-color: rgb(13, 0, 166, 0.7);
    text-align: left;
    margin: auto;
    border-radius: 15px;
    font-size: 13px;
    padding: 5px;
    margin-top: 1em;
    color: #ffff;
}


#formDiv{
    width: 50%;
    background-color: rgb(13, 0, 166, 0.7);
    text-align: left;
    margin: auto;
    border-radius: 15px;
    font-size: 13px;
    padding: 5px;
    margin-top: 1em;
    color: #ffff;
    text-align: center;
    line-height: 3em;
    font-weight: bolder;

}

#extraTable {
    width: 80%;
    text-align: left;
    margin: auto;
    border-radius: 15px;
    font-size: 13px;
    padding: 5px;
    margin-top: 1em;
    color: #ffff;
}

#extraTable table {
    background-color: rgb(13, 0, 166, 0.7);

}
section form input 
{
    display: inline-block;
}
